{% block body %}

<div class="systemBox ui-draggable friendsBox">
	<div class="dragFix" style="display:none;"></div>
	<div class="boxTop" style=background-image:url("bundles/core/images/friendsIcon.png")></div>
	<div class="boxBottom"></div>
</div>
{% endblock %}