{% block body %}
<div class="systemBox ui-draggable shapesBox">
	<div class="dragFix" style="display:none;"></div>
	<div class="boxTop" style=background-image:url("bundles/core/images/shapesIcon.png")></div>
	<div class="boxBottom"></div>
</div>
{% endblock %}