{% block body %}
<div class="systemBox ui-draggable toolsBox">
	<div class="dragFix" style="display:none;"></div>
	<div class="boxTop" style=background-image:url("bundles/core/images/toolsIcon.png")></div>
	<div class="boxBottom"></div>
	
</div>
{% endblock %}